@media screen and (min-width: 2560px) {
    .Menu {
        width: 1200px;
        height: 60px;
    }

    .Menu__logo {
        width: 275px;
        height: 60px;
    }

    .Menu__image {
        width: 80px;
    }

    .Menu__text {
        font-size: 28px;
        font-weight: 600;
    }

    .Menu__nav {
        width: 450px;
        height: 60px;
    }

    .Menu__href,
    .Menu__span {
        font-size: 24px;
    }

    .Menu__div {
        padding: 40px 0px;
    }

    .Menu__div-aside {
        padding: 40px;
    }

    .Menu__div-aside-image {
        width: 50px;
    }

    main {
        width: 2100px;
    }

    .Section {
        width: 1600px;
        height: 600px;
    }

    iframe {
        width: 750px;
        height: 420px;
    }

    .Section__by {
        width: 750px;
        height: 416px;

        font-size: 22px;
    }

    .Section:hover .Section__by {
        transform: translateY(40px);
    }
    

    .Section__text {
        padding: 50px;
    }

    .Section__span-text {
        font-size: 70px;
    }

    .Section-data {
        width: 1600px;
    }

    .Section-data__text {
        width: 1400px;

        padding: 25px;

        font-size: 30px;
    }
    
    footer {
        width: 2560px;
    }

    .Sand-transition__sand-image {
        width: 3900px;
    }

    .Sand-transition__logo {
        font-size: 90px;
    }

    .Sand-transition__by {
        font-size: 28px;
    }

    .Sand-transition__href,
    .Sand-transition__span,
    .Sand-transition__anchor {
        font-size: 26px;
    }

    .Sand-transition__anchor {
        margin-top: 10px;
    }

    .Sand-transition__aside {
        padding: 40px;
    }

    .Sand-transition__image {
        width: 55px;
    }
}

@media screen and (max-width: 1440px) {
    main {
        width: 1200px;
    }

    .Section {
        width: 1000px;
        
        padding: 30px 50px;
    }

    iframe {
        width: 470px;
        height: 260px;
    }

    .Section__by {
        width: 470px;
        height: 256px;
    }

    .Section:hover .Section__by {
        transform: translateY(20px);
    }

    .Section__text {
        padding: 30px;
    }

    .Section__span-text {
        font-size: 50px;
    }

    .Section-data {
        width: 1000px;
        padding: 30px 50px;
    }

    .Section-data__text {
        width: 900px;

        padding: 15px;
        
        font-size: 18px;
    }

    footer {
        width: 1440px;
        height: 700px;
    }

    .Sand-transition__sand-image {
        width: 1440px;
    }
}

@media screen and (max-width: 1024px) {
    .Menu {
        width: 600px;
        height: 30px;
    }

    .Menu__logo {
        width: 160px;
        height: 30px;
    }

    .Menu__image {
        width: 40px;
    }

    .Menu__text {
        font-size: 18px;
    }

    .Menu__nav {
        width: 250px;
        height: 30px;
    }

    .Menu__href,
    .Menu__span {
        font-size: 14px;
    }

    .Menu__div {
        padding: 10px 0;
    }

    .Menu__div-aside {
        padding: 10px;
    }

    .Menu__div-aside-p {
        font-size: 14px;
    }

    .Menu__div-aside-image {
        width: 25px;
    }

    main {
        width: 850px;
    }

    .Section {
        width: 750px;
        height: 300px;

        padding: 20px 40px;
    }

    iframe {
        width: 370px;
        height: 220px;
    }

    .Section__by {
        width: 370px;
        height: 220px;
    }

    .Section__text {
        padding: 25px;
    }

    .Section__span-text {
        font-size: 35px;
    }

    .Section-data {
        width: 750px;
    }

    .Section-data__text {
        width: 700px;

        padding: 10px;

        font-size: 16px;
    }

    footer {
        width: 1024px;
        height: 400px;
        
        transform: translateY(0px);

    }

    .Sand-transition__sand-image {
        width: 1024px;
    }

    .Sand-transition__text {
        width: 1024px;
        height: 300px;
    }
}