@media screen and (min-width: 1440px) {
    section {
        width: 85%;
    }

    .Content__section-first {
        width: 85%;
    }
}

@media screen and (max-width: 1440px) {
    .Content__image-8  { width: 150px; }
}

@media screen and (max-width: 1024px) {
    .Menu__logo {
        width: 170px;
        height: 50px;
    }

    .Menu__image {
        width: 45px;
    }

    .Menu__text {
        font-size: 18px;
    }

    .Menu__nav {
        width: 300px;
        height: 50px;
    }

    .Menu__href,
    .Menu__span {
        font-size: 16px;
    }

    .Text {
        transform: translateY(0);
    }

    .Text__TDS {
        font-size: 76px;
    }

    .Content__TTZ {
        font-size: 30px;
    }

    .Content__TMZ {
        font-size: 30px;
    }

    .Content__image-1  { width: 200px; }
    .Content__image-2  { width: 170px; }
    .Content__image-6  { width: 150px; }
    .Content__image-8  { width: 150px; }
    .Content__image-9  { width: 150px; }
    .Content__image-11 { width: 200px; }
    .Content__image-13 { width: 350px; }
    .Content__image-14 { width: 150px; }
    .Content__image-18 { width: 200px; }
    .Content__image-23 { width: 200px; }
    .Content__image-25 { width: 550px; }
    .Content__images-27-diver .diver-image { width: 250px; }
    .Content__image-31 { width: 300px; }
    .Content__image-35 { width: 250px; }
    .Content__image-36 { width: 250px; }
    .Content__image-37 { width: 300px; }
    .Content__image-38 { width: 450px; }
    .Content__image-39 { width: 350px; }
    .Content__image-42 { width: 250px; }
    .Content__image-43 { width: 250px; }
    .Content__image-45 { width: 400px; }
    .Content__image-46 { width: 300px; }
    .Content__image-47 { width: 300px; }
    .Content__image-54 { width: 700px; }
    .Content__image-58 { width: 300px; }
    .Content__image-61 { width: 150px; }

    .Content__description {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .Menu__logo {
        width: 145px;
        height: 50px;
    }

    .Menu__image {
        width: 50px;
    }

    .Menu__text {
        font-size: 14px;
    }

    .Menu__nav {
        width: 250px;
        height: 45px;
    }

    .Menu__href,
    .Menu__span {
        font-size: 14px;
    }

    .Text {
        transform: translateY(0);
    }

    .Text__TDS {
        font-size: 66px;
    }

    .Content__indicator {
        bottom: 200px;

        font-size: 22px;
    }

    .Content__image-1  { width: 150px; }
    .Content__image-2  { width: 120px; }
    .Content__image-6  { width: 100px; }
    .Content__image-8  { width: 100px; }
    .Content__image-9  { width: 100px; }
    .Content__image-10 { width: 100px; }
    .Content__image-11 { width: 150px; }
    .Content__image-13 { width: 300px; }
    .Content__image-14 { width: 100px; }
    .Content__image-18 { width: 150px; }
    .Content__image-23 { width: 150px; }
    .Content__image-25 { width: 500px; }
    .Content__images-27-diver .diver-image { width: 150px; }
    .Content__image-31 { width: 250px; }
    .Content__image-32 { width: 200px; }
    .Content__image-35 { width: 200px; }
    .Content__image-36 { width: 200px; }
    .Content__image-37 { width: 250px; }
    .Content__image-38 { width: 400px; }
    .Content__image-39 { width: 300px; }
    .Content__image-42 { width: 200px; }
    .Content__image-43 { width: 200px; }
    .Content__image-45 { width: 350px; }
    .Content__image-46 { width: 250px; }
    .Content__image-47 { width: 250px; }
    .Content__image-54 { width: 500px; }
    .Content__image-58 { width: 250px; }
    .Content__image-58 { width: 250px; }
    .Content__image-61 { width: 100px; }
    .Content__image-62 { width: 500px; }

    .Content__description {
        padding: 10px;
        font-size: 11px;
    }

    .Content__div span:first-of-type {
        font-size: 12px;
    }

    .Content__div-54 {
        width: 500px;
    }

    .Content__div-62 {
        width: 700px;
    }

    .EasterEgg {
        transform: translate(-110px, 72000px);
    }

    .Sand-transition__div {
        padding: 10px 0;
    }

    .Sand-transition__aside {
        padding: 10px;
    }
}