@media screen and (max-width: 1440px) {
    :root {
        --widthIMG: 180px;
    }

    .Menu__logo {
        width: 200px;
    }

    .Menu__image {
        width: 50px;
    }

    .Menu__text {
        font-size: 20px;
    }

    .Menu__nav {
        width: 335px;
    }

    .Menu__href,
    .Menu__span {
        font-size: 18px;
    }

    .Text__TDS {
        font-size: 85px;
    }

    .Content__div span:first-of-type {
        font-size: 14px;
    }

    .Content__description {
        font-size: 14px;
    }

    .Content__div-10 { top: 63rem;}
    .Content__div-19 { top: 235rem; }
    .Content__div-20 { top: 230rem; width: 350px; }



    .Karma-block {
        width: 260px;
        height: 150px;
    }

    .Karma-block__karma-counter {
        width: 260px;
        height: 50px;

        font-size: 18px;
    }

    .Container__achievements {
        width: 320px;

        font-size: 20px;
    }

    .Blocker__button {
        width: 270px;
        height: 120px;

        font-size: 22px;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --widthIMG: 170px;
    }

    .Menu {
        height: 50px;
    }

    .Menu__logo {
        width: 150px;
    }

    .Menu__image {
        width: 35px;
    }

    .Menu__text {
        font-size: 16px;
    }

    .Menu__nav {
        width: 280px;
    }

    .Menu__href,
    .Menu__span {
        font-size: 14px;
    }

    .Text__TDS {
        font-size: 65px;
    }

    .Content__indicator {
        font-size: 18px;
    }

    .Karma-block {
        width: 210px;
        height: 130px;
    }

    .Karma-block__karma-counter {
        width: 200px;
        height: 30px;

        font-size: 14px;
    }

    .Karma-block__about {
        width: 200px;
        height: auto;

        padding: 10px;

        font-size: 10px;
    }

    .Container__achievements {
        width: 230px;

        font-size: 12px;
    }

    .Content__div span:first-of-type {
        font-size: 14px;
    }

    .Content__description {
        font-size: 12px;

        padding: 10px;
    }

    .Content__TTZ {
        font-size:  40px;
    }

    .Content__TMZ {
        font-size: 35px;
    }

    .Sun-light {
        font-size: 12px;
        top: 360rem;
    }

    .Blocker__button {
        width: 240px;
        height: 100px;

        font-size: 20px;
    }

    .EasterEgg {
        transform: translate(-95px, 72000px);
    }

    .EasterEgg__text {
        font-size: 14px;
    }

    .Content__div-62 { top: 210rem; width: 900px; }
    .Content__image-62 {
        width: 500px;
    }

    .Content__div-62 span:first-of-type {
        font-size: 18px;
    }

    .Content__div-62 .infoTitanic {
        margin-top: 1rem;

        font-size: 14px;

        text-align: center;
    }

    .Sand-transition__logo {
        font-size: 45px;
    }

    .Sand-transition__by {
        font-size: 14px;
    }
    
    .Sand-transition__href,
    .Sand-transition__span,
    .Sand-transition__anchor {
        font-size: 16px;
    }

}

@media screen and (max-width: 768px) {
    :root {
        --widthIMG: 160px;
    }

    .Menu {
        height: 70px;
        flex-direction: column;
    }

    .Content__TTZ {
        font-size: 35px;
    }

    .Karma-block__karma-counter {
        width: 200px;
        height: 30px;

        font-size: 12px;
    }

    .Content__div span:first-of-type {
        font-size: 12px;
    }

}

@media screen and (max-width: 425px) {
    :root {
        --widthIMG: 150px;
    }

    .Menu__nav {
        width: 250px;
    }

    .Menu__href,
    .Menu__span {
        font-size: 14px;
    }

    .Text__TDS {
        font-size: 55px;
    }

    section, .Content__section-first {
        width: 100%;

        flex-direction: column;
        justify-content: baseline;
    }

    .Content__div {
        width: 100vw;

        position: relative;
        top: 0;
    }
    
    .Content__div-11 {
        transform: translateY(-150px);
    }

    .Content__description {
        width: 95vw;

        font-size: 14px;
    }

    .Content__images-27-diver {
        justify-content: space-around;
        gap: 0;
    }

    .Content__image-54 {
        width: calc(var(--widthIMG) + 200px);
    }

    .Content__div-62 { top: 220rem; width: auto; }
    .Content__div-62 .infoTitanic {
        margin-top: 1rem;
    
        font-size: 14px;
        text-align: center;
    }


    .Sand-transition__logo {
        font-size: 40px;
    }

    .Sand-transition__href,
    .Sand-transition__span,
    .Sand-transition__anchor {
        font-size: 14px;
    }
}