@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,400&display=swap');

/* Общие стили */
* {
    font-family: "Montserrat";
    text-decoration: none;

    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}



/* Стили для шапки */
header {
    width: 100%;
    height: 100vh;

    background: linear-gradient(180deg, #9be4ff, 60%, #fff5d4); 

    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Стили гл. меню */
.Menu {
    width: 70%;
    height: 65px;

    position: static;
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Стили лого */
.Menu__logo {
    width: 225px;
    height: auto;

    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Menu__image {
    width: 56px;
    overflow: hidden;
}

.Menu__text {
    color: #333;
    font-size: 22px;
    font-weight: 500;
    overflow: hidden;
}

/* Стили ссылок гл. меню */
.Menu__nav {
    width: 350px;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Menu__href,
.Menu__span {
    font-size: 18px;
    color: #212121;

    transition: .2s ease;
}

.Menu__href:hover, .Menu__span:hover {
    color: #ff805d;
}

.Menu__href-1 {
    font-weight: 600;
}

/* Стили выпадающего меню */
.Menu__div {
    background-color: transparent;
    padding: 20px 0px;

    position: absolute;

    display: none;
}

.Menu__span:hover .Menu__div {
    display: block;
    right: 20px;
}


.Menu__div-aside {
    background-color: #fff;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 20px;

    align-items: center;
    display: flex;
}

.Menu__div-aside:first-of-type {
    border-top: 1px solid;
}

.Menu__div-aside:last-of-type {
    border-bottom: 1px solid;
}

.Menu__div-aside-image {
    width: 32px;
    margin-right: 10px;
}

.Menu__div-aside-p {
    color: #212121;
}

/* Стили гл. контейнера для текста */


/* Стили гл. текста */
.Text__TDS {
    position: absolute;
    top: calc(50vh - 60px);

    font-size: 96px;
    font-family: "Roboto";
    font-weight: 700;
    color: #2c2c54;

    will-change: transform;

    transition: .3s ease;
}

.Text__TDS:hover {
    transform: translateY(-20px);
}

/* Стили для волн */
.Wave {
    width: 100%;
    height: 300px;

    position: absolute;
    overflow: hidden;

    bottom: 0;
}

.Wave__item {
    width: 6800px;
    height: 300px;
    position: absolute;
    will-change: transform;
}

.Wave__item-gray {
    background: url("../img/waveGray.png") repeat-x;
    animation: WaveGray 17s linear;
    animation-iteration-count: infinite;
    opacity: .6;
}

.Wave__item-blue {
    background: url("../img/waveBlue.png") repeat-x;
    animation: WaveBlue 10s linear;
    animation-iteration-count: infinite;
    opacity: .5;
}

.Wave__item-whiteOP {
    background: url("../img/waveWO.png") repeat-x;
    animation: WaveWhiteOP 12s linear;
    animation-iteration-count: infinite;
    opacity: .7;
}

.Wave__item-white {
    background: url("../img/waveWhite.png") repeat-x;
    animation: WaveWhite 15s linear;
    animation-iteration-count: infinite;
    opacity: .9;
}

/* Анимация волн */
@keyframes WaveGray {
    0% { transform: translateX(0px); }
    100% { transform: translateX(-3400px); }
}

@keyframes WaveBlue {
    0% { transform: translate(0px); }
    100% { transform: translateX(-3400px); }
}

@keyframes WaveWhiteOP {
    0% { transform: translate(0px); }
    100% { transform: translateX(-3400px); }
}

@keyframes WaveWhite {
    0% { transform: translate(0px); }
    100% { transform: translateX(-3400px); }
}

/* Стили пузырей от волн */

.Container__wave-bubls {
    width: 100%;
    height: 400px;

    position: absolute;
    bottom: -200px;
    overflow: hidden;
}

.Wave-bubls {
    width: 6800px;
    height: 400px;
    background: url("../img/waveBubls.png") repeat-x;

    position: absolute;
    left: -20rem;

    will-change: transform;

    opacity: 1;
    z-index: 1;
    animation: Wave-bubls 10s alternate;
    animation-iteration-count: infinite;
}

/* Стили анимации пузырей от волн */
@keyframes Wave-bubls {
    0% { transform: translate(-150px); }
    100% { transform: translate(150px); }
}

/* Переход между header и main */
.Gradient {
    width: 100vw;
    height: 200px;
    background: linear-gradient(180deg, #fff, #3091cd);
}
