/* Стили для изменения полосы прокрутки */
::-webkit-scrollbar {
    width: 10px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: linear-gradient(180deg, #30c9cd, #1353ba);
}

/* Стили для индикатора глубины */
.Content {
    width: 100%;
    height: 76800px;
    background: url("../img/gradient.png") repeat-x;
    background-color: #000000;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.Content__indicator {
    width: 100%;
    height: 60px;

    border-bottom: 1px dashed #ffffff67;

    pointer-events: none;
    opacity: 0;
    z-index: 5;

    position: fixed;
    bottom: 300px;

    font-size: 24px;
    font-weight: bold;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .3s ease;
}

.Content__indicator_visible {
    opacity: 1;
}

/* Стили для секции */
section, .Content__section-first {
    width: 85%;
    height: 14500px;

    position: absolute;

    font-size: 16px;
    font-family: "Oswald", sans-serif;
    color: #fff;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* Стили для расположения секций с блоками */
.Content__section-second { margin-top: 14500px; }
.Content__section-third { margin-top: 29000px; }
.Content__section-fourth { margin-top: 43500px; }
.Content__section-fifth { margin-top: 58000px; }
.Content__section-sixth {
    height: 4050px;
    margin-top: 72500px;

    display: flex;
}


/* Отступ для гл. текста блоков */
.Content__div .Content__name-fish {
    margin-top: 10px;
}



/* Описание существ */
.Content__description {
    background-color: #fff;
    border-radius: 6px;

    padding: 20px;
    opacity: 0;

    z-index: 5;

    transform: translateY(-130px);

    color: #2c2c54;

    transition: .5s ease;
}

.Content__div:hover .Content__description {
    margin-top: 1rem;

    transform: translateY(0px);

    opacity: 1;
}


/* Стили текста "СУМЕРЕЧНАЯ ЗОНА" */
.Content__TTZ {
    position: absolute;
    top: 251rem;
    left: 50%;
    transform: translateX(-50%);

    font-size: 50px;
    font-weight: bold;
    color: #eac7fa;
}



/* Стили текста "ПОЛУНОЧНАЯ ЗОНА" */
.Content__TMZ { 
    position: absolute;
    top: 348rem;
    left: 50%;
    transform: translateX(-50%);

    font-size: 50px;
    font-weight: bold;
    color: #eac7fa;
}

.Sun-light {
    position: absolute;
    top: 365rem;
    left: 50%;
    transform: translateX(-50%);

    font-weight: 500;
    text-align: center;
    color: #fff;
}



/* Стили контейнеров */
.Content__div, .EasterEgg {
    width: 250px;
    height: auto;

    position: absolute;
    overflow: hidden;
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: .5s ease;
}

.Content__div_visible { opacity: 1; } /* Стиль для появления контейнеров */

.Content__div_left {
    left: 5%;
    transform: translateX(-5%);
}

.Content__div_betweenLC {
    left: 23%;
    transform: translateX(-23%);
}

.Content__div_center {
    left: 50%;
    transform: translateX(-50%);
}

.Content__div_betweenRC {
    left: 60%;
    transform: translateX(-60%);
}

.Content__div_right {
    left: 95%;
    transform: translateX(-95%);
    justify-content: space-between;
}




/* Стили для расположения контейнеров */
.Content__div-3  { top: 15rem; }
.Content__div-4  { top: 15rem; }
.Content__div-5  { top: 35rem; }
.Content__div-6  { top: 35rem; }
.Content__div-7  { top: 47rem; }
.Content__div-8  { top: 45rem; }
.Content__div-9  { top: 56rem; }

.Content__div-10 { top: 56rem;  width: 300px; }
.Content__div-11 { top: 77rem; }
.Content__div-12 { top: 97rem;  width: 300px; }
.Content__div-13 { top: 127rem; width: 400px; }
.Content__div-14 { top: 150rem; width: 350px; }
.Content__div-15 { top: 155rem; width: 350px; }
.Content__div-16 { top: 170rem; }
.Content__div-17 { top: 190rem; width: 320px; }
.Content__div-18 { top: 210rem; width: 550px; }
.Content__div-19 { top: 230rem; }
.Content__div-20 { top: 235rem; width: 350px; }

.Content__div-21 { top: 265rem; width: 300px; }
.Content__div-22 { top: 280rem; width: 350px; }
.Content__div-23 { top: 295rem; width: 300px; }
.Content__div-24 { top: 320rem; width: 350px; }
.Content__div-25 { top: 335rem; width: 450px; }
.Content__div-26 { top: 398rem; width: 400px; }

.Content__div-27 { top: 420rem; width: 650px; }
.Content__images-27-diver { margin-top: 20px; }

.Content__div-27 .Content__description:first-of-type {
    margin-bottom: 10px;
}

.Content__images-27-diver {
    display: flex;
    gap: 15px;
}

.Content__div-28 { top: 475rem; }
.Content__div-29 { top: 575rem; }
.Content__div-30 { top: 627rem; width: 500px; }

.Content__div-31 { top: 685rem; width: 400px; }
.Content__div-32 { top: 800rem; width: 350px; }
.Content__div-33 { top: 875rem; width: 400px; }
.Content__div-34 { top: 0rem;   width: 300px; }
.Content__div-35 { top: 47rem;  width: 400px; }
.Content__div-36 { top: 100rem; width: 350px; }
.Content__div-37 { top: 130rem; width: 400px; }
.Content__div-38 { top: 240rem; width: 500px; }
.Content__div-39 { top: 280rem; width: 450px; }
.Content__div-40 { top: 315rem; width: 450px; }

.Content__div-41 { top: 395rem; width: 350px; }
.Content__div-42 { top: 455rem; width: 350px; }
.Content__div-43 { top: 545rem; width: 400px; }
.Content__div-44 { top: 595rem; width: 520px; }
.Content__div-45 { top: 702rem; width: 450px; }
.Content__div-46 { top: 805rem; width: 400px; }
.Content__div-47 { top: 30rem;  width: 400px; }
.Content__div-48 { top: 130rem; width: 400px; }
.Content__div-49 { top: 345rem; width: 400px; }
.Content__div-50 { top: 442em;  width: 400px; }

.Content__div-51 { top: 563rem; }
.Content__div-52 { top: 690rem; width: 350px; }
.Content__div-53 { top: 815rem; }
.Content__div-54 { top: 33rem;  width: 800px; }
.Content__div-55 { top: 155rem; width: 300px; }
.Content__div-56 { top: 595rem; width: 300px; }
.Content__div-57 { top: 713rem; }
.Content__div-58 { top: 3rem;   width: 400px; }
.Content__div-59 { top: 250rem; width: 300px; }
.Content__div-60 { top: 525rem; width: 400px; }
.Content__div-61 { top: 740rem; width: 400px; }

.Content__div-62 { top: 210rem; width: 1000px; }

.Content__div-62 span:first-of-type {
    font-size: 22px;
}
.Content__div-62 .infoTitanic {
    margin-top: 1rem;

    text-align: center;
}



/* Стили картинок */
.Content__image-1  { width: 250px; }
.Content__image-2  { width: 220px; }
.Content__image-6  { width: 200px; }
.Content__image-8  { width: 200px; }
.Content__image-9  { width: 200px; }
.Content__image-11 { width: 250px; }
.Content__image-13 { width: 400px; }
.Content__image-14 { width: 200px; }
.Content__image-18 { width: 250px; }
.Content__image-23 { width: 250px; }
.Content__image-25 { width: 600px; }
.Content__images-27-diver .diver-image { width: 300px; }
.Content__image-31 { width: 350px; }
.Content__image-35 { width: 300px; }
.Content__image-36 { width: 300px; }
.Content__image-37 { width: 350px; }
.Content__image-38 { width: 500px; }
.Content__image-39 { width: 400px; }
.Content__image-42 { width: 300px; }
.Content__image-43 { width: 300px; }
.Content__image-45 { width: 450px; }
.Content__image-46 { width: 350px; }
.Content__image-47 { width: 350px; }
.Content__image-54 { width: 750px; }
.Content__image-58 { width: 350px; }
.Content__image-61 { width: 200px; }
.Content__image-52 { border-radius: 6px; }

/* Стили для пасхального яйца */
.EasterEgg {
    width: auto;

    z-index: 5;

    transform: translate(-105px, 72000px);
    opacity: 1;
}

.EasterEgg:hover {
    width: auto;

    transform: translate(0px, 72000px);
}

.EasterEgg__text {
    height: auto;

    opacity: 1;

    text-align: center;
    line-height: 25px;
    color: #ffffff;
}