@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,400&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: "Montserrat";
    font-weight: 400;
    text-decoration: none;

    scroll-behavior: smooth;
}



/* Стили для изменения скролла */
::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: linear-gradient(180deg, #30c9cd, #1353ba);
}

/* Стили для body */
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    overflow-x: hidden;
}

/* Стили гл. меню */
.Menu {
    width: 900px;
    height: 45px;

    position: static;
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Стили лого */
.Menu__logo {
    width: 225px;
    height: 45px;

    transform: translateX(35px);

    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Menu__image {
    width: 56px;
    overflow: hidden;
}

.Menu__text {
    color: #333;
    font-size: 22px;
    font-weight: 500;
    overflow: hidden;
}

/* Стили ссылок гл. меню */
.Menu__nav {
    width: 350px;
    height: 45px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Menu__href,
.Menu__span {
    font-size: 18px;
    color: #212121;

    transition: .2s ease;
}

.Menu__href:hover, .Menu__span:hover {
    color: #ff805d;
}

.Menu__href-2 {
    font-weight: 600;
}

/* Стили выпадающего меню */
.Menu__div {
    background-color: transparent;
    padding: 20px 0px;

    position: absolute;

    display: none;
}

.Menu__span:hover .Menu__div {
    display: block;
}


.Menu__div-aside {
    background-color: #fff;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 20px;

    align-items: center;
    display: flex;
}

.Menu__div-aside:first-of-type {
    border-top: 1px solid;
}

.Menu__div-aside:last-of-type {
    border-bottom: 1px solid;
}

.Menu__div-aside-image {
    width: 32px;
    margin-right: 10px;
}

.Menu__div-aside-p {
    color: #212121;
}

/* Стили main */
main {
    width: 1600px;
    height: auto;
    background-color: #5398ff;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Стили для одного блока */
.Section {
    width: 1460px;
    height: 400px;

    padding: 50px 70px;


    display: flex;
    align-items: center;
}

/* Стили для фрейма */
iframe {
    width: 570px;
    height: 320px;
    border-radius: 6px;
}

.Section__video {
    z-index: 1;
}

/* Стили для текста (автор видео) */
.Section__by {
    width: 570px;
    height: 316px;
    background-color: #fff;
    box-shadow: 0 15px 15px #fff;
    border-radius: 40px;


    position: absolute;
    z-index: -1;

    font-weight: 500;
    text-align: center;
    color: #212121;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;

    transition: .2s ease;
}

.Section:hover .Section__by {
    transform: translateY(30px);
}


/* Стили для названия текста */
.Section__text {
    padding: 40px;
}

.Section__span-text {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}


.Section-data {
    width: 1460px;
    height: auto;

    padding: 50px 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Section-data__text {
    width: 1300px;

    background-color: #2c6ac7;
    border-radius: 12px;

    padding: 20px;


    font-size: 24px;
    font-weight: 600;
    color: #ffffffcc;
    text-align: center;

    display: flex;
    align-items: center;
}

/* Стили гл. контейнера */
footer {
    width: 1920px;
    height: 700px;

    background: linear-gradient(180deg, #f5eacb, 70%, #c7bda2);

    margin-top: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Стиль перехода */
.Sand-transition {
    width: 100%;
}

.Sand-transition__sand-image {
    width: 1950px;
    height: 50px;
    background: url("../img/sand.png");

    z-index: 10;
    transform: translateY(-50px);
}

/* Стили гл. контейнера для текста */
.Sand-transition__text {
    width: 1200px;
    height: 600px;

    transform: translateY(50px);

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

/* Стили текса */
.Sand-transition__logo {
    font-size: 60px;
    font-weight: 700;
    color: #333;
}

.Sand-transition__by {
    font-weight: 500;
    color: #4d4d80;
}

/* Стили ссылок */
.Sand-transition__nav {
    font-size: 26px;

    margin-top: 70px;

    display: flex;
    gap: 40px;
}

.Sand-transition__href,
.Sand-transition__span,
.Sand-transition__anchor {
    font-size: 18px;
    color: #212121;
    text-decoration: none;

    transition: .2s ease;
}

.Sand-transition__href:hover,
.Sand-transition__span:hover {
    color: #ff805d;
}

.Sand-transition__href-2 {
    font-weight: 600;
}

/* Стили выпадающего меню */
.Sand-transition__div {
    background-color: transparent;
    padding: 20px 0px;

    position: absolute;

    display: none;
}

.Sand-transition__span:hover .Sand-transition__div {
    display: block;
}


.Sand-transition__aside {
    background-color: #fff;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 20px;

    display: flex;
    align-items: center;
}

.Sand-transition__aside:first-of-type {
    border-top: 1px solid;
}

.Sand-transition__aside:last-of-type {
    border-bottom: 1px solid;
}

.Sand-transition__image {
    width: 32px;
    margin-right: 10px;
}

.Sand-transition__p {
    color: #212121;
}