/* Стили гл. контейнера */
footer {
    width: 100%;
    height: 55vh;
    background: linear-gradient(180deg, #f5eacb, 70%, #c7bda2);

    display: flex;
    align-items: center;
    flex-direction: column;

    overflow: hidden;
}


/* Стили перехода */
.Footer__sand-transition {
    overflow: hidden;
}

.Footer__sand-transition__sand-image {
    background-color: #000;
}

/* Стили гл. контейнера для текста */
.Footer__block-text {
    width: 100vw;
    height: 70vh;

    transform: translateY(50px);

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

/* Стили текса */
.Footer__logo {
    font-weight: 700;
    font-size: 60px;
    color: #333;
    overflow: hidden;

}

.Footer__by {
    font-weight: 500;
    color: #4d4d80;
}

/* Стили ссылок */
.Footer__nav {
    margin-top: 70px;

    display: flex;
    gap: 40px;
}

.Footer__href,
.Footer__span,
.Footer__anchor {
    font-size: 18px;
    color: #212121;
    text-decoration: none;

    transition: .2s ease;
}

.Footer__href:hover,
.Footer__span:hover {
    color: #ff805d;
}

.Footer__href-1 {
    font-weight: 600;
}

/* Стили выпадающего меню */
.Footer__block-div {
    background-color: transparent;
    padding: 20px 0px;

    position: absolute;

    display: none;
}

.Footer__span:hover .Footer__block-div {
    display: block;
    right: 30%;
}


.Footer__aside {
    background-color: #fff;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 20px;

    display: flex;
    align-items: center;
}

.Footer__aside:first-of-type {
    border-top: 1px solid;
}

.Footer__aside:last-of-type {
    border-bottom: 1px solid;
}

.Footer__aside__image {
    width: 32px;
    margin-right: 10px;
}

.Footer__aside__p {
    color: #212121;


}

.Footer__anchor:hover {
    color: #ff805d;
}