/* Стили гл. блока */
.Karma-block {
    width: 250px;
    height: 170px;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    visibility: hidden;

    z-index: 63;
    display: flex;
    justify-content: center;

    transition: all .3s ease;
}


/* Стили дочернего блока, текста*/
.Karma-block__karma-counter {
    width: 250px;
    height: 30px;

    background-color: #333333;
    border-radius: 0 0 12px 12px;
    opacity: 0;

    font-weight: 600;
    letter-spacing: 1.2px;
    color: #fff;

    z-index: 14;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .3s ease;
}

/* Стили подсказки */
.Karma-block__about {
    width: 250px;
    height: 120px;

    background-color: #fff;
    border-radius: 6px;

    box-sizing: border-box;
    padding: 20px;

    opacity: 0;
    
    z-index: 14;  
    position: absolute;

    transition: all .3s ease;
}

.Karma-block:hover .Karma-block__about {
    opacity: 1;
    transform: translateY(50px);
}